*{

	padding: 0;
	margin: 0;
}
ul, ol {
		list-style:none;
	}
	

@font-face {
    font-family: 'angsa';
    src: url("../font/angsa.eot");
    src: url("../font/angsa.eot?#iefix") format("embeded-opentype"),
         url("../font/angsa.woff") format("woff"),
         url("../font/angsa.ttf") format("truetype"),
         url("../font/angsa.svg#angsa") format("svg");

    font-weight: normal;
    font-style: normal;

}

body{

	background: #005883; /**AZUL**/
	color: #010101;
	font-family: "angsa", Helvetica,Verdana;
	font-size: 2em;
}

h1{
	color: #FFFFFF;/**BLANCO**/
	margin: 0.25em auto;
	text-align: center;
}

	header{
	background: #FFFFFF; /**BLANCO**/
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;

}
	nav{
	background: #F0B429; /**NARANJA**/
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;

}
	footer{
	background: #010101; /**NEGRO**/
	color: #FFFFFF;	
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;

}
section#contenedor{
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0;
	background: #005883; /*Lo ELIMINO cuando se termine el codigo abajo*/
	text-align: center;
}

section#principal, aside{
	background: #F0B429; /**NARANJA**/
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.2em auto;
	max-width: 960px;
	min-height: 200px;
	vertical-align: top;
	width: 65%;
}

article{
	background: #FFFFFF; /**BLANCO**/
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.25em;
}

aside{
	width: 30%;
}
.espaciado{
	padding: 5em;
	background: rgba(255,255,255,255.255);
	height: 150px;
	overflow: auto;
	border: 2px solid #000;
}
